<%= turbo_frame_tag book do %>
<div class="card card-body">
<h4><%= book.title %></h4>
<%= book.description %>
<div class="card-footer">
<%= link_to 'Show', book %>
<%= link_to 'Edit', edit_book_path(book) %>
<%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
<% end %>